html{
    font-family: sans-serif;
    color: white;
}

header{
    background-image: url(img/pizza.jpg);
    background-size: 150% 125%;
    background-position: 50% 50%;
    height: 35vh;
    width: 100%;
}

header h1{
    width: 5vw;
    float: left;
    margin: 20px 15px;
}

.menu{
    float: right;
    display: flex;
    flex-wrap: nowrap;
    flex: auto;
    flex-direction: row;
    padding: 0px 5px;
    margin: 15px 0px;
}

.menu a{
    color: white;
    text-decoration: none;
    margin: 15px 5px;
}