body{
    font-family: sans-serif;
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
}

header{
    background-image: url(img/pizza.jpg);
    background-size: 115% 230%;
    background-position: 50% 45%;
    height: 60vh;
    width: 100%;
    border-top: 50px solid rgba(1,1,1,0.5);
}

header h1{
    width: 5vw;
    float: left;
    margin: 40px 25px;
}

h2, h3{
    margin: 0;
}

.menu{
    float: right;
    display: flex;
    flex-wrap: nowrap;
    flex: auto;
    flex-direction: row;
    padding: 0px 5px;
    margin: 35px 15px;
}

.menu a{
    color: white;
    text-decoration: none;
    margin: 16px 5px;
}

header, section, article, summary, footer{
    margin: 0;
    padding: 0;
}

section > div > img{
    width: 100%;
    height: 100%;
}

.ballraIgazitas{
    text-align: right;
}

#tortenetArticle, section{
    background-color: #222222;
}

#menuArticle, summary, footer{
    background-color: #101010;
}
