body{
    font-family: sans-serif;
    color: white;
    background-color: #101010;
    margin: 0;
    padding: 0;
}

header{
    background-image: url(img/pizza.jpg);
    background-size: cover;
    background-position: 50% 38%;
    height: 50vh;
    width: 100%;
}

header h1{
    width: 5vw;
    float: left;
    margin: 40px 25px;
}

h2, h3{
    margin: 0;
}

p{
    color: #cecece;
    line-height: 25px;
}

h6{
    font-size: medium;
    color: #cecece;
    margin: 15px 0;
    font-weight: lighter;
}

#menu{
    float: right;
    display: flex;
    flex-wrap: nowrap;
    flex: auto;
    flex-direction: row;
    padding: 0px 5px;
    margin: 35px 15px;
}

#menu a{
    color: white;
    text-decoration: none;
    margin: 16px 5px;
}

#menu p{
    position: relative;
    bottom: 3px;
}

header, section, article, summary, footer{
    margin: 0;
    padding: 0;
}

#tortenetArticle, section{
    background-color: #222222;
}

#menuArticle, summary, footer{
    background-color: #101010;
}

#tortenetArticle{
    display: flex;
    flex-direction: row;
    padding: 7.5vh 17vw 7.5vh 0;
}

#tortenetDiv1{
    width: 75%;
    margin: 0 2vw 0 0;
}

#tortenetDiv2{
    width: 99%;
    position: relative;
    bottom: 2vh;
}

#tortenetDiv1 > h2, #tortenetDiv1 > h6{
    text-align: right;
}

#tortenetDiv2 > p{
    text-align: left;
}

#menuArticle > div > h2, p, button{
    text-align: center;
}

#menuArticle > div{
    display: flex;
    flex-direction: column;
    margin: 0 25vw;
    padding: 7.5vh 0 7.5vh 0;
    width: 50%;
}

#menuArticle > div > div{
    margin: auto auto;
}

#menuArticle > div > h6{
    text-align: center;
}

.artButton {
    border: #cecece solid 1px;
    background-color: #101010;
    color: white;
    width: 12vw;
    height: 5vh;
    font-variant: small-caps;
    font-weight: 590;
    margin: 1vh 1vw;
}

section{
    height: 110vh;
}

section > h2{
    text-align: center;
    padding-top: 5vh;
}

section > h6{
    text-align: center;
    margin-bottom: 5vh;
}

section > div > img{
    width: 100%;
    height: 100%;
}

#gombokDiv{
    display: flex;
}

/* Grid system */

#kepTarto {
    width: 60%;
    height: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

#div1{
    width: 100%;
    height: 100%;
    background-image: url(img/pizza.jpg);
    background-size: 100% 110%;
    background-position: 50% 50%;
}

#div2{
    width: 125%;
    height: 100%;
    background-image: url(img/steak.jpg);
    background-size: 250% 100%;
    background-position: 50% 50%;
}

#div3{
    width: 100%;
    height: 100%;
    background-image: url(img/vegyesSalata.jpg);
    background-size: 140% 110%;
    background-position: 50% 20%;
}

#div4{
    width: 100%;
    height: 100%;
    background-image: url(img/pizzaCloseUp.jpg);
    background-size: 100% 120%;
    background-position: 50% 50%;
}

#div5{
    width: 125%;
    height: 100%;
    background-image: url(img/eloetel.jpg);
    background-size: 100% 250%;
    background-position: 50% 60%;
}

#div1 { grid-area: 1 / 1 / 7 / 9; }
#div2 { grid-area: 1 / 9 / 8 / 12; }
#div3 { grid-area: 7 / 1 / 11 / 5; }
#div4 { grid-area: 7 / 5 / 11 / 9; }
#div5 { grid-area: 8 / 9 / 11 / 12; }

#kepTarto > div > p{
    margin: 0px 0px;
    text-align: center;
    color: white;
    font-size: 9px;
}

#div1 > p{
    position: relative;
    top: 90%;
}

#div2 > p{
    position: relative;
    top: 92%;
}

#div3 > p{
    position: relative;
    top: 87%;
}

#div4 > p{
    position: relative;
    top: 86%;
}

#div5 > p{
    position: relative;
    top: 80%;
}
/* Képek utáni elemek */

summary{
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 0 10% 0 10%;
}

summary > div{
    width: 100%;
    margin: 50px 2%;
}

summary > div > h2{
    text-align: right;
    font-size: 20px;
    margin-top: 20px;
}

#szeretetTarto{
    width: 5%;
}

#nyitvaTarto{
    width: 90%;
}

#nyitvaTarto > p{
    text-align: left;
    margin: 0 0;
}

#foglalasTarto{
    width: 90%;
}

#foglalasTarto > p{
    text-align: left;
}

#foglalasTarto > a{
    color: white;
    font-weight: 600;
}

footer{
    width: 70%;
    padding: 0 5%;
    margin: 0 auto;
}

footer > p{
    text-align: center;
    font-size: 12px;
}



/* hambruger menu dolgok*/
#hambMenu{
    display: none;
    color: white;
    line-height: 8px;
    font-size: 38px;
    font-weight: 500;
}

/* MD méret*/

@media screen and (max-width: 768px){
    #menu{
        display: none;
        margin: 37px 75px;
    }

    #hambMenu{
        display: block;

        position: absolute;
        top: 30px;
        right: 50px;
    }

    header{
        background-size: 180%;
        background-position: 50% 38%;
        height: 50vh;
        width: 100%;
    }

    #tortenetArticle{
        padding: 6vh 1vw 6vh 7.5vw;
    }

    #tortenetDiv1{
        width: 25%;
    }

    #menuArticle > div{
        padding: 6vh 0px;
        width: 80%;
        margin: 0 10vw;
    }

    .artButton{
        width: 20vw;
    }

    #kepTarto{
        width: 95%;
    }

    summary{
        width: 100%;
        padding: 0px 0px;
    }

    footer{
        width: 100%;
        padding: 0px 0px;
    }
}


/* Mobil méret*/

@media screen and (max-width: 576px){
    #menu{
        display: none;
    }

    #hambMenu{
        display: block;
    }

    header{
        background-size: 500%;
        background-position: 50% 25%;
        height: 50vh;
        width: 100%;
    }

    article{
        flex-direction: column !important;
    }

    #tortenetArticle{
        height: 100%;
    }

    #tortenetDiv1{
        width: 100%;
    }

    #tortenetDiv2{
        width: 90%;
        position: relative;
    }

    h2{
        font-size: 40px;
    }

    h6, #tortenetDiv2 > p{
        font-size: 25px;
    }

    #menuArticle > div{
        width: 100%;
        margin: 0 0;
    }

    #menuArticle > div > p{
        font-size: 25px;
        line-height: 35px;
        margin: 0 5vw;
    }

    #gombokDiv{
        width: 75%;
        height: 200%;
        flex-direction: column;
        margin: 5vh auto !important;
    }
    
    .artButton{
        width: 80%;
        height: 10vh;
        font-size: 25px;
        margin: 5vh auto !important;
        padding: 0 0
    }

    section{
        height: 250vh;
    }

    #kepTarto{
        display: flex;
        flex-direction: column;
        height: 90%;
    }

    #kepTarto > div{
        width: 100%;
        height: 50vh;
        background-size: 100% 100%;
        background-position: 0px 0px;
    }

    #kepTarto > div > p{
        position: relative;
        top: 88%;
        font-size: 20px;
    }

    summary{
        flex-direction: column;
        width: 90vw;
    }

    summary > div > h2{
        margin-right: 5vw;
        font-size: 35px;
    }

    #div1{
        order: 0;
    }
    #div2{
        order: 3;
    }
    #div3{
        order: 1;
    }
    #div4{
        order: 2;
    }
    #div5{
        order: 4;
    }

    #nyitvaTarto > p, h4{
        font-size: 25px;
        line-height: 50px;
    }
}